body {
  font-family: Lora,'Helvetica Neue',Helvetica,Arial,sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255)
}

html {
  width: 100%;
  height: 100%
}

h1,h2,h3,h4,h5,h6 {
  font-family: Cabin,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: uppercase
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 25px
}

@media (min-width: 768px) {
  p {
    font-size:18px;
    line-height: 1.6;
    margin: 0 0 35px
  }
}

a {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}


.navbar-light .navbar-nav > .nav-item {
  a {
      color: #474747ce;
      padding-left: 6px;
      padding-right: 6px;
    }
  a:hover {
    color: #ffffff;
    background-color: rgba(216, 33, 33, 0.89);
    border-radius: 10px;
  }
}

@media screen and (min-width: 991px) {
  #mainNav {
    padding-top:20px;
    padding-bottom: 20px;
    -webkit-transition: background .3s ease-in-out,padding-top .3s ease-in-out,padding-bottom .3s;
    -moz-transition: background .3s ease-in-out,padding-top .3s ease-in-out,padding-bottom .3s;
    transition: background .3s ease-in-out,padding-top .3s ease-in-out,padding-bottom .3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: 0 0
  }

  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);

  }

  #mainNav .nav-link.active:hover {
    color: #fff
  }

  .navbar-light .navbar-nav > .nav-item {
    a { color: #474747ce; }
    a:hover {
      color: #ffffff;
      background-color: rgba(216, 33, 33, 0.89);
      border-radius: 10px;
    }
  }

  .nav-bar-menu {
    width: -webkit-min-content;
    width: -moz-min-content;
    background: #f4f6ff;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
  }
}

.thin-border {
  border: 1px solid black
}

.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  color: #fff;
  background: url(asset-path('test_img.png')) no-repeat bottom center scroll;
  background-color:rgb(255, 255, 255);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-size: 50px;
}

.masthead .intro-body .intro-text {
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  .masthead {
    background: url(asset-path('test_img_md.png')) no-repeat bottom center scroll;
    margin-top: 6%;
  }

  .masthead .intro-body .brand-heading {
    font-size: 100px;
  }

  .masthead .intro-body .intro-text {
    font-size: 22px;
  }
}

@media only screen and (max-width: 425px) {
  .masthead {
    background: url(asset-path('test_img_sm.png')) no-repeat bottom center scroll;
    margin-top: 11%;
  }

  div.row {
    font-size: .7rem;
  }
}

.content-section {
  color: black;
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-faded-backgroud {
  // background: rgba(248, 226, 208, 0.616);
  background: linear-gradient(rgba(255,0,0,0), rgba(247, 225, 215, 0.582),rgba(255,0,0,0));
  display: block;
  overflow: auto;
}

.creamy-white-nav {
  // background: linear-gradient(rgb(255, 221, 206),rgba(255, 255, 255, 0.103)  95%)
  // background: linear-gradient(rgb(214, 214, 214) 92%, rgba(255, 255, 255, 0.075));
  background: url(asset-path('navbar-rug.jpg')) repeat-x;
}

.nav-bar-button, .nav-bar-button:hover {
  background: #f4f6ff;
  color: #000000;
}

.fit-min-content {
  width: -webkit-min-content !important;
  width: -moz-min-content !important;
}

#map {
  height: 400px;
  width: 100%;
}

.line-separator {
  width: 70%;
}

img.image-preview {
  margin: 7px;

  &:hover {
    -webkit-transform: scale(1.05);
    -webkit-transition: 1 ease;
    -webkit-box-shadow: 0 0 10px #000000;
    -moz-transform: scale(1.05);
    -moz-transition: 1 ease;
    -moz-box-shadow: 0 0 10px #000000;
  }
}

@media screen and (max-width: 991px) {
  .nav-bar-menu {
    width: -webkit-min-content;
    width: -moz-min-content;
    background: #f4f6ff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
  }
}
