body {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: rgb(0, 0, 0);
  background: url(asset-path('new-background-3000.png')) fixed no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
  width: 100%;
  height: 100%;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;

  &.info {
    margin: 0px;
  }
}

.section-title {
  font-style: italic;
  margin-bottom: 5px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

.menu-info {
  margin: 0 0 15px;
}

@media (min-width: 768px) {
  p {
    font-size:18px;
    line-height: 1.6;
  }
}

a {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}


.navbar-light .navbar-nav > .nav-item {
  a {
      color: #474747ce;
      padding-left: 6px;
      padding-right: 6px;
    }
  a:hover {
    border-bottom: 1.5px solid #474747ce;
    padding-bottom: 1.5px;
  }
}

@media screen and (min-width: 991px) {
  #mainNav {
    padding-top:20px;
    padding-bottom: 20px;
    -webkit-transition: background .3s ease-in-out,padding-top .3s ease-in-out,padding-bottom .3s;
    -moz-transition: background .3s ease-in-out,padding-top .3s ease-in-out,padding-bottom .3s;
    transition: background .3s ease-in-out,padding-top .3s ease-in-out,padding-bottom .3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: 0 0
  }

  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);

  }

  #mainNav .nav-link.active:hover {
    color: #fff
  }

  .navbar-light .navbar-nav > .nav-item {
    a {
      color: #474747ce;
    }

    a:hover {
      border-bottom: 1.5px solid #474747ce;
      padding-bottom: 1.5px;
    }
  }

  .nav-bar-menu {
    width: -webkit-min-content;
    width: -moz-min-content;
    background: #f4f6ff;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
  }
}

.thin-border {
  border: 1px solid black
}

.masthead {
  display: block;
  width: 100%;
  height: fit-content;
  padding: 161px 0;
  text-align: center;
  color: #fff;
  background: url(asset-path('large_banner_bistro.jpg')) no-repeat center;
  background-color:rgb(255, 255, 255);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-size: 50px;
}

.masthead .intro-body .intro-text {
  font-size: 18px;
}

@media only screen and (max-width: 990px) {
  .masthead {
    width: 100%;
    height: auto;
    background: url(asset-path('md_banner_bistro.jpg')) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .masthead .intro-body .brand-heading {
    font-size: 100px;
  }

  .masthead .intro-body .intro-text {
    font-size: 22px;
  }
}

@media only screen and (max-width: 763px) {
  .masthead {
    width: 100%;
    height: auto;
    background: url(asset-path('sm_banner_bistro.jpg')) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  div.row {
    font-size: .8rem;
  }
}

.content-section {
  color: black;
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-faded-backgroud {
  // background: rgba(248, 226, 208, 0.616);
  background: linear-gradient(#fafafa7c, #fcfaf4bd, #ffffff7a);
  overflow: auto;
}

.creamy-white-nav {
  background: url(asset-path('navbar-rug.jpg')) repeat-x;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.nav-bar-button, .nav-bar-button:hover {
  background: #f4f6ff;
  color: #000000;
}

.fit-min-content {
  width: -webkit-min-content !important;
  width: -moz-min-content !important;
  width: -o-min-content !important;
}

#map {
  height: 400px;
  width: 100%;
}

.line-separator {
  width: 90%;

  &.--info {
    margin: 0px;
  }
}

img.image-preview {
  margin: 7px;

  &:hover {
    transform: scale(1.05);
    transition: 1 ease;
    box-shadow: 0 0 10px #000000;
    -webkit-transform: scale(1.05);
    -webkit-transition: 1 ease;
    -webkit-box-shadow: 0 0 10px #000000;
    -moz-transform: scale(1.05);
    -moz-transition: 1 ease;
    -moz-box-shadow: 0 0 10px #000000;
  }
}

@media screen and (max-width: 991px) {
  .nav-bar-menu {
    width: -webkit-min-content;
    width: -moz-min-content;
    background: #f4f6ff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 6px;
  }
}

.back-to-top-btn {
  height: 40px;
  width: 40px;
  background: url(asset_path('up-arrow-circular-button.png')) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: none;
  border-radius: 6px;
  bottom: 20px;
  display: none;
  right: 30px;
  position: fixed;
  z-index: 99;
}

.sections-content {
  background-color: #ffffffd7;
  border-radius: 6px;
  display: inline-block;
}

.rem-1-font {
  font-size: 1.1rem
}

.info-list {
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
}

.fb-post {
  padding-bottom: 0.5em;
  width: 100%;
}

@media only screen and (max-width: 424px) {
  .fb-post {
    margin-left: -1em;
  }

  .fb-post > span {
    display: inline-block;
    transform:scale(0.8,0.9);
  }
}

@media screen and (max-width: 350px) {
  .fb-post {
    margin-left: -2em;
  }

  .fb-post > span {
    display: inline-block;
    transform:scale(0.7,0.8);
  }
}

@media screen and (max-width: 321px) {
  .fb-post {
    margin-left: -2.5em;
  }

  .fb-post > span {
    display: inline-block;
    transform:scale(0.7,0.8);
  }
}
