.react-photo-gallery {
  &--gallery {
    img {
      -webkit-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out;
    }

    img:hover {
      -moz-transform: scale(1.05);
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05);
    }
  }
}