<div class='container menu-white-bg menu-white-bg'>
  <hr class='line-separator'/>
  <h1 class='section-title'> Nothing to see here, for now.....</h1>
  <p> Should include additional information about the changing menu and stuff, about orders, etc.</p>
</div>