<div class='container sections-content'>
  <h1 class='section-title'><%= t('nav.about')%></h1>
  <hr class='line-separator'/>
  <div class='row justify-content-md-center'>
    <p class=''>
      <strong>Адрес: </strong> <%= contacts[:address] %><br />
      <strong>Facebook: </strong> <%= contacts[:facebook] %><br />
    </p>
  </div>
</div>
