<div class="container">
  <div class="content-section content-section--footer">
    <div>
      <p class="footer--logo">Бистро Аги</p>
    </div>
    <div>
      <div class="row footer--row">
        <div class="col-md-8 mt-md-0 mt-3">
          Banner vector created by brgfx - <a href="https://www.freepik.com/free-photos-vectors/background">www.freepik.com</a>
        </div>
      </div>
    </div>
  </div>
</div>
