<div class='container'>
<h3><%= t('nav.gallery')%></h3>
  <div class='row justify-content-md-center'>
    <%= image_gallery_builder('/images/dish_1.png') %>
    <%= image_gallery_builder('/images/dish_2.png') %>
    <%= image_gallery_builder('/images/dish_3.png') %>
  </div>
</div>