<div class='container menu-white-bg'>
  <h1 class='section-title'><%= t('nav.menu')%></h1>
  <%= render 'facebook/daily_menu' %>
  <hr class="line-separator">
  <div class=>
    <p>
    Всеки делничен ден заведението предлага топли напитки и домашно приготвени закуски, храната е приготвена с много желание и любов изцяло от нас.
    Предлагаме разнообразни яснтия на ниски цени от бългърската и гръдската традиционна кухня. 
    <br><strong>Поръчки за обяд моля да бъдат нарпавени преди 11:00 ч.</strong>
    </p>
  </div>
</div>
