<% @title="Бистро Аги" %>

<div>
  <%= react_component("ReactSections") %>
</div>

<section id="map" class="content-section text-center">
  <div class="container">
    <%= render 'map' %>
  </div>
</section>

<button class="btn back-to-top-btn" id="back-to-top-btn" onClick="topFunction()" title="<%= t('nav.back_to_top') %>"></button>

<hr class='line-separator' />
