<% @title="Page title test" %>
<section id="menu" class="content-section text-center">
  <div class="container">
    <%= render 'menu' %>
  </div>
</section>
<section id="gallery" class="content-section text-center section-faded-backgroud">
  <h2>This will be the gallery</h2>
</section>
<section id="about" class="content-section text-center">
  <h2>This will be the about us section</h2>
</section>
<section id="map" class="content-section text-center section-faded-backgroud">
  <h2>This will contain google maps api</h2>
</section>