<div class="fb-post"
  data-href="https://www.facebook.com/ayeayecaptain94/posts/2223411711023388"
  data-width="750"
  data-show-text="true">
  <blockquote cite="https://www.facebook.com/ayeayecaptain94/posts/2223411711023388" class="fb-xfbml-parse-ignore">
    Posted by <a href="#" role="button">Miroslav Ivanov</a> on&nbsp;<a href="https://www.facebook.com/ayeayecaptain94/posts/2223411711023388">Thursday, 22 November 2018</a>
  </blockquote>
</div>